<div>

  <h4>Sizes</h4>

  Active size: {{ product.selectedSize }} <br />

  Cart: {{ cart }} <br />

  Quantity: {{ product.quantity }} <br />

  Sizes: {{ sizes }}

  <div class="btn-group">
    <button ng-repeat="size in sizes" type="button" class="btn btn-primary" ng-model="product.selectedSize" btn-radio="size.id">{{ size.name }}</button>
  </div>

  <form ng-submit="onAddToCart({product: product})">
    <input type="number" min="1" ng-model="product.quantity" class="input-mini" />
    <input type="submit" id="submit" value="Add to Cart" />
  </form>
</div>
