
<h4>Checkout</h4>

<table class="table">
  <tr>

    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
    <th></th>
  </tr>
  <tr ng-repeat="item in cart.items">
    <td>{{item.product.name}}</td>
    <td><input type="number" min="1" ng-model="item.item.quantity" ng-required class="input-mini"></td>
    <td>{{ item.product.price[0].usd }}</td>
    <td>{{ item.item.quantity * item.product.price[0].usd | currency}}</td>
    <td>
      <div href ng-click="removeItem($index)" class="btn">X</div>
    </td>
  </tr>
</table>
